<!--
<%= link_to 'Back', entries_path %>

<%= form_for :entry, url: entries_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
-->
<h1></h1>
<div class="detailBox">
<%if current_user != nil%>
  <%= form_for :entry, url: entries_path do |f| %>
    <div class="form-group">
   <%= f.text_field :title ,:class=>"form-control",:placeholder=>"Title"%>
   </div>
   <div class="form-group">
   <%=f.text_area :body,:class=>"form-control", :placeholder=>"What is on your mind" %>
   </div>
   <div class="form-group">
     <%= f.submit "Post",:class=>"btn btn-default"%>
   </div>
  <%end%>
<%end%>
</div>